NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_GRADIO_SPACE_ID=praanjalpradhan/AI-FIT-PRO
NEXT_PUBLIC_HF_SPACE_URL=https://praanjalpradhan-ai-fit-pro.hf.space
NEXT_PUBLIC_BACKEND_SETTINGS_URL=
NEXT_PUBLIC_CONTACT_EMAIL=hello@example.com
